/* Basic Styling */

html, body 
{
  
height: 100%;
  
width: 100%;
  
margin: 0;
  
font-family: 'Roboto', sans-serif;

}


.container 
{
  
max-width: 1200px;
  
margin: 0 auto;
  
padding: 100px;
  

  position: relative;
  width: 50%;

  top: 80px;
  left: 0;
  bottom:10px;
  background:rgba(100, 50, 100, 0.5);;
  overflow: hidden;
}


/* Columns */




.right-column 
{
  

  
margin-top: 80px;

margin-left:20px;
}




/* Right Column */

/* Product Description */

.product-description 
{
  
border-bottom: 1px solid #E1E8EE;

margin-bottom: 200px;

}


.product-description h1 {
  
font-weight: 300;
  
font-size: 52px;
  
color: 	#C0C0C4;
 
letter-spacing: 4px;

 
}

.product-description p {
  
font-size: 15px;
font-style: :bold;
font-weight: 300;
  
color: #86936A;
  
line-height: 24px;
margin-right:5px;

}
.media li{
  list-style:none;
  display: inline-block;
  font-size:20px;
  padding: 20px 20px;
  margin-left: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius:50%;
  transition: 0.5s;
}

.media li:hover{
  color: #292929;
  border: 1px solid #292929;
  transition: 0.5s;
}
.media{
  position:absolute;
  top:80%;
  left: 50%;
  transform: translate(-53%, -50%);
}

.media i{
  color:white;
}